@use "../../styles/variables" as v;

#faq {
  background-color: #353333;
  color: #e0e0e0;
  font-weight: bold;

  h2,
  p {
    color: #e0e0e0;
    font-weight: bold;
  }

  .d-flex {
    h5 {
      color: cyan;
      font-weight: bold;
    }

    p {
      color: #e0e0e0;
    }
  }
}
