@use "../../styles/variables" as v;

header .navbar {
  padding: 1rem 1.5rem;
}

header .logo {
  font-weight: bold;
  color: v.$color-primary;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav-link {
  font-size: 1rem;
  margin-right: 1rem;
  color: v.$color-secondary !important;
  text-decoration: none;

  &.active,
  &:hover {
    color: v.$color-primary !important;
  }
}
