<section class="py-5" id="about">
  <div class="container">
    <div class="row gx-4 align-items-center justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <div class="mt-5 mt-md-0">
          <span class="text-muted">Our Story</span>
          <h2 class="display-5 fw-bold">About Us</h2>
          <p class="lead">
            <b
              >At SolarSolutions, we are passionate about harnessing the power
              of the sun to create a sustainable future. As a leading provider
              of high-quality solar panels, we aim to make clean, renewable
              energy accessible to homes, businesses, and industries worldwide.
              Our mission is to revolutionize the way the world consumes energy
              by providing innovative, affordable, and eco-friendly solar
              solutions. We believe that solar energy is not just a resource;
              it’s the key to reducing our carbon footprint, protecting the
              planet, and empowering communities to take control of their energy
              consumption.</b
            >
          </p>
        </div>
      </div>
      <div class="col-md-6 offset-md-1 order-1 order-md-2">
        <div class="row gx-2 gx-lg-3">
          <div class="col-6">
            <div class="mb-2">
              <img
                class="same-size-img"
                src="../../assets/images/1.jpg"
                alt="assets1"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-2">
              <img
                class="same-size-img"
                src="../../assets/images/2.jpg"
                alt="assets2"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-2">
              <img
                class="same-size-img"
                src="../../assets/images/3.jpg"
                alt="assets3"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-2">
              <img
                class="same-size-img"
                src="../../assets/images/4.jpg"
                alt="assets4"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
