$font-family-primary: "Arial", sans-serif;
$font-family-secondary: "Roboto", sans-serif;

$color-primary: #28a745;
$color-secondary: #343a40;
$color-light: #f8f9fa;
$color-white: #ffffff;
$color-gray: #6c757d;

$shadow-default: 0 4px 6px rgba(0, 0, 0, 0.1);
